.env
check-perms.php
server-info.php
test-env.php
wp-content/
node_modules/
.DS_Store
*.log
.windsurfrules
sumai.zip
/tests
deploy-to-local.bat
test-plugin.php
wp-content/plugins/sumai/test-plugin.php
sumai-tests
php-local
basic-test.php
mock-wp-test.php
test-sumai.php
deploy-to-local.ps1
php.zip

